* 
{ 
	margin: 0;
	padding: 0;
	font-family: Algerian;
	background: url(L.jpg);
	background-position: center;
}

.login-box
{
	width: 320px;
	background: #000;
	height: 500px;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px;
}	
.btn
{
color: #fff;
background: #337ab7;
padding: 5px;
margin-left: 60%;
}
h1
{
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	font-size: 22px;
}
.login-box p
{
	margin: 0;
	padding: 0;
}
.login-box input
{
	width: 100%;
	margin-bottom: 20px;
}
.login-box input[type="text"], input[type="password"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.login-box input[type="button"]
{
	border: none;
	outline: none;
	height: 40px;
	background:#fb2525;
	color: #fff;
    font-size: 18px;
    border-radius:20px;
    transform: translate(-60%);
}
.login-box input[type="button"]:hover
{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}
.login-box a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: darkgrey;
}
.login-box a:hover
{
	color: #ffc107;
}